# See https://help.github.com/articles/ignoring-files/ for more information.

# dependencies
node_modules/

# next.js
.next/

# misc
.DS_Store
*.log

# env files
.env
.env.*

# typescript
*.tsbuildinfo

# build output
out/

# IDEs
.vscode/
.idea/

# Optional: cache files
.cache/

# Vercel
.vercel/

